<!-- Header
      ============================================= -->
<header id="header" class="transparent-header full-header" data-sticky-class="not-dark">

  <div id="header-wrap">

    <div class="container clearfix">

      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <!-- Logo
                ============================================= -->
      <div id="logo">
        <a href="index.html" class="standard-logo" data-dark-logo="images/logo-dark.png"><img
                src="images/logo.png" alt="Canvas Logo"></a>
        <a href="index.html" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img
                src="images/logo@2x.png" alt="Canvas Logo"></a>
      </div><!-- #logo end -->

      <!-- Primary Navigation
                ============================================= -->
      <nav id="primary-menu" class="dark">

        <ul>
          <li><a href="/client/homepage">
            <div>首頁</div>
          </a></li>
          <li><a href="/client/blogs">
            <div>法鼓通訊</div>
          </a></li>
          <li><a href="/client/events">
            <div>活動查詢</div>
          </a></li>
          <li><a href="/client/contact">
            <div>聯繫方式</div>
          </a></li>
          <li><a href="/client/jobs">
            <div>加入我們</div>
          </a></li>
          <li><a href="/admin/login">
            <div>登錄</div>
          </a></li>
        </ul>

      </nav><!-- #primary-menu end -->

    </div>

  </div>

</header><!-- #header end -->
