<!DOCTYPE html>
<html>
<head>
    <title>Hello Admin</title>
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" type="text/css" href="/all.css">
</head>
<body ng-app="main" ng-cloak>

{{{body}}}

<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/angular-aria/angular-aria.js"></script>
<script src="/bower_components/angular-messages/angular-messages.js"></script>
<script src="/bower_components/angular-material/angular-material.js"></script>
<script src="/app.js"></script>
</body>
</html>
