<!DOCTYPE html>
<html>
<head>
  <title>login</title>
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css"/>
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="/all.css">
</head>
<body ng-app="main" ng-cloak ng-controller="IndexCtrl">

<div layout="row">

  <div ng-controller="AddArticleCtrl" layout="column" ng-cloak class="md-inline-form" flex-offset="25" flex="50">
    <md-toolbar class="">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Add Article</h2>
      </div>
    </md-toolbar>
    <md-content layout-padding>
      <div>
        <form name="addArticle" action="/api/post/article" method="post">
          <md-input-container class="md-block">
            <label>Title</label>
            <input name="title">
          </md-input-container>
          <textarea placeholder="Add content here"
                    name="content"
                    rows="25" cols="83"
                    md-select-on-focus></textarea>
          <md-button class="md-primary" type="submit">submit</md-button>
        </form>
      </div>
    </md-content>
  </div>
</div>


<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/angular-aria/angular-aria.js"></script>
<script src="/bower_components/angular-messages/angular-messages.js"></script>
<script src="/bower_components/angular-material/angular-material.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/app.js"></script>
</body>
</html>
