<md-toolbar>
  <div class="md-toolbar-tools">
    <h2 class="md-flex">Edit Homepage</h2>
    <span flex></span>
    <md-button href="/admin/logout" class="md-raised"> Logout</md-button>
  </div>
</md-toolbar>
<md-content flex layout-padding>
  <p>Tobe Done</p>
  <a href="/admin/selectAction"> Click here to back to the previous page!</a>
</md-content>
