<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>Choose an action</h2>
    <span flex></span>
    <md-button href="/admin/logout" class="md-raised"> Logout</md-button>
  </div>
</md-toolbar>
<md-toolbar class="md-hue-1">
  <div class="md-toolbar-tools">
    <h2 class="md-flex">Article publish/update success! </h2>
  </div>
</md-toolbar>
<md-content flex layout-padding>
  <md-button class="md-primary" href="/client/blogs"> see article here</md-button>
  </br>
  <md-button href="/admin/editHomePage" class="md-raised"> Edit home page</md-button>
  <md-button href="/admin/addArticlePage" class="md-raised"> Add article</md-button>
</md-content>
