<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>Choose an action</h2>
  </div>
</md-toolbar>
<md-content flex layout-padding>
  <md-button href="/editHomePage" class="md-raised"> Edit home page</md-button>
  <md-button href="/addArticlePage" class="md-raised"> Add article</md-button>
</md-content>
